// onedark theme

$red: #e06c75;
$red-deep: #be5046;
$red-error: #f44747;
$orange: #d19a66;
$yellow: #e5c07b;
$green: #98c379;
$cyan: #56b6c2;
$blue: #61afef;
$purple: #c678dd;
$white: #abb2bf;
$grey: #5c6370;
$grey-light: #7f848e;
$black: #282c34;
$black-dark: #21252b;
$black-darkest: #1e2127;
$border: #4b5362;
$border-darkest: #3e4452;

// material theme

$primary: #9acbfa;
$on-primary: #003352;
$primary-container: #0b4a72;
$on-primary-container: #cde5ff;

$secondary: #b9c8da;
$on-secondary: #233240;
$secondary-container: #3a4857;
$on-secondary-container: #d5e4f6;

$tertiary: #e7b6f1;
$on-tertiary: #462151;
$tertiary-container: #5e3869;
$on-tertiary-container: #fad7ff;

$surface: $black;
$surface-container: #33373E;

$on-surface: $white;
$on-surface-variant: #c4c6cf;

$outline: $border;
$outline-variant: $border-darkest;

$error: #ffb3ae;
$on-error: #571e1c;
$error-container: #733330;
$on-error-container: #ffdad7;

$warning: #ecc06c;
$on-warning: #412d00;
$warning-container: #5d4200;
$on-warning-container: #ffdea4;

$inverse-surface: #e1e2e8;
$inverse-on-surface: #2e3135;
$inverse-primary: #2e628c;
